<phpunit backupGlobals="true"
         backupStaticAttributes="false"
         bootstrap="bootstrap.php"
         cacheTokens="true"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         mapTestClassNameToCoveredClassName="false"
         printerClass="PHPUnit\TextUI\ResultPrinter"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         testSuiteLoaderClass="PHPUnit\Runner\StandardTestSuiteLoader"
         beStrictAboutTestsThatDoNotTestAnything="false"
         verbose="false">
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../</directory>
            <exclude>
                <directory suffix=".php">../tests/</directory>
                <directory suffix=".php">../tests2/</directory>
                <directory suffix=".php">../translations/</directory>
                <directory suffix=".php">../views/</directory>
                <directory suffix=".php">../out/</directory>
                <file suffix=".php">../metadata.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>